{:title "associative collections"
 :instructions ["Write a function that takes a key, a value, and a collection (a vector or map)"
                "Return a vector of the value that was at that key in the original collection, and an updated collection with the new value inserted at the given key"]
 :tests [(is (= [1 [2 3 4]]
                (get-and-set 0 2 [1 3 4])))
         (is (= ["foo" {:a "baz" :b "quux"}]
                (get-and-set :a "baz" {:a "foo" :b "quux"})))]
 :solution (defn get-and-set
             [k v col]
             [(get col k) (assoc col k v)])
 :teaches #{get assoc}
 :uses #{:vectors :maps}
 :category :learning-functions
 :difficulty :low}
