{:title "clamp"
 :difficulty :low
 :category :starter
 :instructions ["Write a function `clamp` to restrict a value to a given range."]
 :function-template (defn clamp [x min max])
 :test-cases [{:input (clamp 2 1 4)
               :output 2}
              {:input (clamp 0 1 4)
               :output 1}
              {:input (clamp 5 1 4)
               :output 4}]
 :solution (defn clamp [x min max]
             (cond
               (<= min x max) x
               (< x min) min
               :else max))
 :uses #{cond :math-comparisons <= <}}
