{:title "basic files"
 :difficulty :low
 :category :learning-functions
 :instructions ["Read in a text file (assuming it's in the current directory), reverse the content, and write it to a file prepended with \"rev-\""]
 :solution [(require '[clojure.string :as string])

            (defn reverse-file
              [file-name]
              (->> (slurp file-name)
                   string/reverse
                   (spit (str "rev-" file-name))))]
 :teaches #{spit slurp}
 :uses #{clojure.string/reverse str ->>}}
