{:title "find largest"
 :category :learning-functions
 :instructions ["Write a function to find the largest number in a list, making use of either `apply` or `reduce`."
                (defn largest [nums])]
 :tests [(is (= 3 (largest [1 2 -1 3 3 2 1 0])))]
 :solution [(defn largest
              [nums]
              (apply max nums))
            (defn largest-reduce
              [nums]
              (reduce max nums))]
 :type #{:word-problem}
 :uses #{defn max}
 :teaches #{apply reduce}}
