{:title "grouping things"
 :category :learning-functions
 :instructions ["Given a list of strings, categorize them by their starting character."]
 :tests [(is (= {\a ["abc" "apple"]
                 \b ["beep"]
                 \d ["dialectics" "data"]
                 \t ["things"  "toffee" "theosophy"]}
                (categorize ["beep" "abc" "apple" "things" "toffee" "dialectics"
                             "data" "theosophy"])))]
 :solution (defn categorize [strings]
             (group-by first strings))
 :teaches #{group-by}
 :uses #{first}
 :related #{"grouping-part2"}}
