{:title "Refactor ifs"
 :instructions ["Refactor the below code to use a single cond instead of multiple ifs"
                (defn process-value
                  [value]
                  (if (and (number? value)
                           (> number 10))
                    :pretty-big
                    (if (and (number?  value)
                             (< number 0))
                      :negative
                      (if (and (number? value) (zero? value))
                        :zero
                        (if (number? value)
                          :small-number
                          (if (string? value)
                            :a-string
                            :something-else))))))]
 :solution [(defn process-value
              [value]
              (cond
                (string? value) :a-string
                (not (number? value)) :something-else
                (zero? number) :zero
                (> number 10) :pretty-big
                (< value 0) :negative
                :else :small-number))]}
