{:title "make pmap"
 :teaches #{future deref time}
 :uses #{map}
 :category :learning-functions
 :difficulty :low
 :instructions ["`pmap` is a built-in function that acts just like `map`, except it runs the functions over the collection in parallel."
                "Implement a version of this and test that it's working by using a function that uses `Thread/sleep` to take a relatively long term per element and `time` to compare the performance of the normal `map` and your version of pmap."]
 :solution (defn my-pmap
             [f coll]
             (->> (map (fn [x] (future (f x))) coll)
                  (map deref)))}
