{:title "key-by"
 :difficulty :mid
 :category :starter
 :instructions ["Implement `key-by`, a function that given a a list of items, converts it to a map, with each item keyed by a given function"
                (defn key-by [f values])]
 :tests [(is (= {123 {:id 123
                      :name "Alice"}
                 456 {:id 456
                      :name "Bob"}}
                (key-by :id [{:id 123 :name "Alice"}
                             {:id 456 :name "Bob"}])))
         (is (= {-213842911 "Alice"
                 665036798 "Bob"}
                (key-by hash ["Alice" "Bob"])))]
 :solution (defn key-by [f values]
             (reduce (fn [memo x]
                       (assoc memo (f x) x)) {} values))
 :uses #{reduce assoc :higher-order-functions}}
