{:title "map indexed"
 :category :learning-functions
 :instructions ["Given a list, return a new list where each element is a list of the corresponding element in the input, repeated a number of times equal to its position in the initial list"]
 :tests [(is (= [[] [:b] [:c :c] [:d :d :d] [:e :e :e :e]]
                (increasing-repeat [:a :b :c :d :e])))]
 :solution (defn increasing-repeat
             [coll]
             (map-indexed (fn [i v] (repeat i v)) coll))
 :teaches #{map-indexed}
 :uses #{repeat fn}}
