{:title "modelling tic-tac-toe"
 :difficulty :mid
 :category :starter
 :instructions ["Devise a data model to represent a game of tic-tac-toe."
                "For example, describe a game whose board currently looks like the below:"
                "`_|X|O`"
                "`_|_|X`"
                "`O|_|_`"
                "In your model, include a history of the moves played."]
 :solution [(def game-state
              {:current-player "X"
               :board [nil "X" "O"
                       nil nil "X"
                       "O" nil nil]
               :history [{:player "X"
                          :location 1}
                         {:player "O"
                          :location 2}
                         {:player "X"
                          :location 5}
                         {:player "O"
                          :location 6}]})]
 :uses #{:maps :vectors :strings :numbers}}
