{:title "partial-map"
 :difficulty :low
 :instructions ["Write a function that takes two functions and a list."
                "Transforms the list by applying the first function to values in the list that return true for the second function."]
 :tests [(is (= [1 20 3 40 5 60]
                (partial-map (fn [x] (* x 10)) even? [1 2 3 4 5 6])))]
 :solution (defn partial-map [f pred? values]
              (map (fn [x]
                     (if (pred? x)
                       (f x)
                       x))
                   values))
 :teaches #{map}
 :uses #{if fn :higher-order-functions}
 :category :learning-functions}
