{:title "run-length encoding (with reduce)"
 :difficulty :mid
 :category :synthesis
 :related #{"run-length-decode"}
 :instructions ["As before, write a function that does a run-length encoding of a given sequence, but this time, use `reduce`."]
 :tests [(is (= [[:a 2] [:b 1] [:c 3]]
                (run-length [:a :a :b :c :c :c])))]
 :type #{:word-problem}
 :teaches #{reduce}
 :uses #{conj vec butlast inc peek}
 :solution [(defn run-length [xs]
              (reduce (fn [vs x]
                        (let [[v c] (peek vs)]
                          (if (= v x)
                            (conj (vec (butlast vs)) [v (inc c)])
                            (conj vs [x 1]))))
                      []
                      xs))]
 :source "https://exercism.io/tracks/clojure/exercises/run-length-encoding"}
