{:title "string word count"
 :instructions ["Write a function that takes a string and returns the number of words in the string"
                (defn words-count [s])
                (is (= 16
                       (words-count "Write a function that takes a string and returns the number of words in the string")))]
 :solution [(require '[clojure.string :as string])
            (defn words-count
              [s]
              (count (string/split s #"\s+")))]
 :type #{:word-problem}
 :uses #{defn count clojure.string/split :regex}}
