{:title "sum of range"
 :category :starter
 :difficulty :low
 :type #{:word-problem}
 :instructions ["Write a function that, given a number N, returns the sum of numbers from 1 to N, inclusive"
                (defn sum-to [n])]
 :tests [(is (= 15 (sum-to 5)))]
 :solution (defn sum-to [n]
              (apply + (range (inc n))))
 :uses #{defn range + apply reduce inc}}
