{:title "sum of range"
 :category :starter
 :difficulty :low
 :related #{:sum-of-range-closed-form}
 :type #{:word-problem}
 :instructions ["Write a function that, given a number N, returns the sum of numbers from 1 to N, inclusive."
                "Use sequences"]
 :function-template (defn sum-to [n])
 :test-cases
[{:input (sum-to 5)
  :output 15}]
:solution (defn sum-to [n]
              (apply + (range (inc n))))
 :uses #{range + apply reduce inc}}
