{:title "summing a list (reduce)"
 :instructions ["Write a function to sum a list of numbers, using `reduce`"]
 :related #{"summing-a-list-apply"
            "summing-a-list-atom"
            "summing-a-list-naive-recursion"
            "summing-a-list-safe-recursion"}
 :solution '(defn sum [values]
              (reduce + values))
 :uses #{'reduce :math-operations '+}}
