{:title "summing a list (apply)"
 :difficulty :low
 :category :learning-functions
 :instructions ["Write a function to sum a list of numbers, using `apply`."]
 :related #{"summing-a-list-reduce"
            "summing-a-list-atom"
            "summing-a-list-naive-recursion"
            "summing-a-list-safe-recursion"}
 :function-template (defn sum [values])
 :test-cases
[{:input (sum [1 2 3 4])
  :output 10}
 {:input (sum [])
  :output 0}
 {:input (sum [1 -1 1 -1 1 -1 0])
  :output 0}]
:solution (defn sum [values]
              (apply + values))
 :teaches #{apply}
 :uses #{:math-operations +}}
