{:title "summing a list (apply)"
 :category :learning-functions
 :instructions ["Write a function to sum a list of numbers, using `apply`"]
 :related #{"summing-a-list-reduce"
            "summing-a-list-atom"
            "summing-a-list-naive-recursion"
            "summing-a-list-safe-recursion"}
 :solution (defn sum [values]
              (apply + values))
 :teaches #{apply}
 :uses #{:math-operations +}}
