{:title "Unit converter"
 :difficulty :mid
 :category :starter
 :type #{:word-problem}
 :instructions ["Write a function that can convert between many different types of units"
                (defn convert [num unit])]
 :tests [(is (= 100 (convert 220 :lb :kg)))
         (is (= 45 (convert 20.45 :kg :lb)))
         (is (= -18 (convert 0 :fahrenheit :celsius)))
         (is (= -40 (convert -40 :celsius :fahrenheit)))
         (is (= 49 (convert 15 :meters :feet)))
         (is (= 590 (convert 15 :meters :inches)))]
 :solution [(def conv-fn
              {:kg {:lb (fn [k] (* k 2.2))}
               :lb {:kg (fn [l] (/ l 2.2))}
               :celsius {:fahrenheit (fn [c] (+ (* 1.8 c) 32))}
               :fahrenheit {:celsius (fn [f] (/ (- f 32) 1.8))}
               :meters {:feet (fn [m] (* 3.28 m))
                        :inches (fn [m] (* 12 3.28 m))}
               :feet {:meters (fn [f] (/ 3.28 f))
                      :inches (fn [f] (* 12 f))}})
            (defn convert
              [num from-unit to-unit]
              (-> ((get-in conv-fn [from-unit to-unit]) num)
                  (Math/round)))]

 :uses #{defn update :math-operations :maps fn}}
